#!/usr/bin/make -f
OMV_PACKAGE := $(shell pwd | sed 's|.*/||')

%:
	dh $@ --parallel

override_dh_installinit:
	dh_installinit -r --no-start --name=openmediavault
	dh_installinit -r --no-start --name=openmediavault-beep
	dh_installinit -r --no-start --name=openmediavault-configimport

override_dh_install:
	dh_install
	dh_testdir
	echo "Removing SCM files ..." >&2
	find $(CURDIR)/debian/$(OMV_PACKAGE) \( -name .svn -o -name .git \) \
	  -type d -print0 -prune | xargs -0 rm -rf

override_dh_link:
	echo "/ietc/init.d/smbd /etc/init.d/samba" >>  $(CURDIR)/debian/openmediavault.links
	dh_link

override_dh_clean:
	rm -f $(CURDIR)/debian/openmediavault.links 
